<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plant">
        <activity
            android:name=".codebase.activity.ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.ComplainAnonymouslyActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.ComplainWithIdentityActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.ChooseTreeResultActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.ChooseTreeActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.SuggestedTreeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.SuggestedTreeActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.ComplainActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.BlogDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.AddBlogActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.ChooseLoginOrSignupActivity"
            android:exported="false" />
        <activity
            android:name=".codebase.activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".codebase.activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>